@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 114.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 10px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  background-color: #14a6dc;
  color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  background-color: #1f91bb;
}

.textblock {
  text-align: center;
}

.textblock__title {
  margin-bottom: 1.875rem;
}

@supports (font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem )) {
  .textblock__title {
    font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem )) {
  .textblock__title {
    font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 95.375);
  }
}

.textblock__text {
  margin: 0 auto;
  line-height: 1.5;
  width: 60%;
}

@supports (font-size: clamp( 0.875rem , 0.7963630406rem  +  0.3931847969vw , 1.25rem )) {
  .textblock__text {
    font-size: clamp( 0.875rem , 0.7963630406rem  +  0.3931847969vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7963630406rem  +  0.3931847969vw , 1.25rem )) {
  .textblock__text {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 95.375);
  }
}

.header__top {
  background: #14a6dc;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__container {
  width: 100%;
}

.top-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__adress {
  color: white;
}

.top-header__accident {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accident__text {
  color: #dcff00;
}

@supports (padding-right: clamp( 0.0000000625rem , -0.3931847212rem  +  1.9659239187vw , 1.875rem )) {
  .accident__text {
    padding-right: clamp( 0.0000000625rem , -0.3931847212rem  +  1.9659239187vw , 1.875rem );
  }
}

@supports not (padding-right: clamp( 0.0000000625rem , -0.3931847212rem  +  1.9659239187vw , 1.875rem )) {
  .accident__text {
    padding-right: calc(0.0000000625rem + 1.8749999375 * (100vw - 20rem) / 95.375);
  }
}

/*===============HEADER-MIDLLE============*/

.midlle-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.midlle-header__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42%;
          flex: 0 1 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 8px;
}

.midlle-header__logo {
  padding-right: 0.625rem;
}

@supports (font-size: clamp( 1rem , 0.9475753604rem  +  0.2621231979vw , 1.25rem )) {
  .midlle-header__text {
    font-size: clamp( 1rem , 0.9475753604rem  +  0.2621231979vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9475753604rem  +  0.2621231979vw , 1.25rem )) {
  .midlle-header__text {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 95.375);
  }
}

.midlle-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@supports (gap: clamp( 2.5rem , -8.1892092843rem  +  17.2410077369vw , 12.5rem )) {
  .midlle-header__contacts {
    gap: clamp( 2.5rem , -8.1892092843rem  +  17.2410077369vw , 12.5rem );
  }
}

@supports not (gap: clamp( 2.5rem , -8.1892092843rem  +  17.2410077369vw , 12.5rem )) {
  .midlle-header__contacts {
    gap: calc(2.5rem + 10 * (100vw - 61.99875rem) / 58.00125);
  }
}

.contacts__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.contacts__img {
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72px;
          flex: 0 0 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__img_blue {
  background-color: #14a6dc;
}

.contacts__img_red {
  background: #ec391d;
}

.contacts__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.contacts__tel {
  font-weight: bold;
  padding-bottom: 10px;
}

@supports (font-size: clamp( 0.875rem , 0.7046199214rem  +  0.8519003932vw , 1.6875rem )) {
  .contacts__tel {
    font-size: clamp( 0.875rem , 0.7046199214rem  +  0.8519003932vw , 1.6875rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7046199214rem  +  0.8519003932vw , 1.6875rem )) {
  .contacts__tel {
    font-size: calc(0.875rem + 0.8125 * (100vw - 20rem) / 95.375);
  }
}

@supports (font-size: clamp( 0.75rem , 0.6713630406rem  +  0.3931847969vw , 1.125rem )) {
  .contacts__text {
    font-size: clamp( 0.75rem , 0.6713630406rem  +  0.3931847969vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6713630406rem  +  0.3931847969vw , 1.125rem )) {
  .contacts__text {
    font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 95.375);
  }
}

.contacts__text_blue {
  color: #14a6dc;
}

.contacts__text_red {
  color: #ec391d;
}

/*==============================*/

.header__menu {
  background: #4c4c4c;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

@supports (gap: clamp( 1.25rem , 0.4374180865rem  +  4.0629095675vw , 5.125rem )) {
  .menu-header__list {
    gap: clamp( 1.25rem , 0.4374180865rem  +  4.0629095675vw , 5.125rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.4374180865rem  +  4.0629095675vw , 5.125rem )) {
  .menu-header__list {
    gap: calc(1.25rem + 3.875 * (100vw - 20rem) / 95.375);
  }
}

.menu-header__item {
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-header__item:hover {
  color: #14a6dc;
}

.icon-menu {
  display: none;
}

.footer {
  background: #4c4c4c;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding-top: 3.625rem;
  padding-bottom: 4.6875rem;
}

.footer__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  padding-right: 1.25rem;
}

.footer__title {
  font-weight: bold;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.875rem , 0.8225753604rem  +  0.2621231979vw , 1.125rem )) {
  .footer__contacts {
    font-size: clamp( 0.875rem , 0.8225753604rem  +  0.2621231979vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8225753604rem  +  0.2621231979vw , 1.125rem )) {
  .footer__contacts {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 95.375);
  }
}

.footer__link {
  display: block;
  margin-bottom: 0.625rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__link:hover {
  color: #14a6dc;
}

.footer__menu {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.25rem;
}

@supports ((-moz-column-gap: clamp( 2.5rem , 1.5825688073rem  +  4.5871559633vw , 6.875rem )) or (column-gap: clamp( 2.5rem , 1.5825688073rem  +  4.5871559633vw , 6.875rem ))) {
  .footer__menu {
    -webkit-column-gap: clamp( 2.5rem , 1.5825688073rem  +  4.5871559633vw , 6.875rem );
       -moz-column-gap: clamp( 2.5rem , 1.5825688073rem  +  4.5871559633vw , 6.875rem );
            column-gap: clamp( 2.5rem , 1.5825688073rem  +  4.5871559633vw , 6.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , 1.5825688073rem  +  4.5871559633vw , 6.875rem )) or (column-gap: clamp( 2.5rem , 1.5825688073rem  +  4.5871559633vw , 6.875rem ))) {
  .footer__menu {
    -webkit-column-gap: calc(2.5rem + 4.375 * (100vw - 20rem) / 95.375);
       -moz-column-gap: calc(2.5rem + 4.375 * (100vw - 20rem) / 95.375);
            column-gap: calc(2.5rem + 4.375 * (100vw - 20rem) / 95.375);
  }
}

.footer__item {
  line-height: 1.2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__item:hover {
  color: #14a6dc;
}

.specification__container {
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specification__img-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56.15%;
          flex: 0 0 56.15%;
  height: 100%;
  margin-top: 1.875rem;
  padding-bottom: 24.5%;
}

.specification__block {
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.specification__title {
  font-weight: bold;
}

@supports (font-size: clamp( 1.375rem , 1.2701507208rem  +  0.5242463958vw , 1.875rem )) {
  .specification__title {
    font-size: clamp( 1.375rem , 1.2701507208rem  +  0.5242463958vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.2701507208rem  +  0.5242463958vw , 1.875rem )) {
  .specification__title {
    font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 95.375);
  }
}

.specification__text {
  margin-top: 1.25rem;
  line-height: 1.5;
}

.specification__tel {
  margin-top: 1.875rem;
  line-height: 1.5;
  text-align: center;
}

@supports (font-size: clamp( 1.25rem , 1.1975753604rem  +  0.2621231979vw , 1.5rem )) {
  .specification__tel {
    font-size: clamp( 1.25rem , 1.1975753604rem  +  0.2621231979vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1975753604rem  +  0.2621231979vw , 1.5rem )) {
  .specification__tel {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 95.375);
  }
}

.specification__input {
  border: 1px solid #707070;
  border-radius: 10px;
  width: 80%;
  padding: 10px 0px 10px 10px;
  margin-bottom: 1.25rem;
}

.specification__form {
  margin-top: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specification__button {
  width: 80%;
}

.specification__privacy {
  margin: 10px auto;
  text-align: center;
  width: 60%;
  line-height: 1.2;
}

@supports (font-size: clamp( 0.75rem , 0.7237876802rem  +  0.131061599vw , 0.875rem )) {
  .specification__privacy {
    font-size: clamp( 0.75rem , 0.7237876802rem  +  0.131061599vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.7237876802rem  +  0.131061599vw , 0.875rem )) {
  .specification__privacy {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 95.375);
  }
}

.specification__politicks {
  color: #14a6dc;
}

.page__advantages {
  margin-top: 1.5625rem;
}

.advantages__item {
  border: 2px solid #14a6dc;
  border-radius: 10px;
  padding: 35px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__img {
  margin-bottom: 2.5rem;
}

.advantages__title {
  font-weight: bold;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

@supports (font-size: clamp( 1.25rem , 1.118938401rem  +  0.6553079948vw , 1.875rem )) {
  .advantages__title {
    font-size: clamp( 1.25rem , 1.118938401rem  +  0.6553079948vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.118938401rem  +  0.6553079948vw , 1.875rem )) {
  .advantages__title {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 95.375);
  }
}

.advantages__text {
  line-height: 1.5;
}

.advantages__link {
  color: #14a6dc;
}

/*==============================*/

.page__calculation {
  margin-top: 35px;
  position: relative;
  background: #4c4c4c;
}

.calculation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@supports (gap: clamp( 0.0000000625rem , -2.293577906rem  +  11.4678898427vw , 10.9375rem )) {
  .calculation__container {
    gap: clamp( 0.0000000625rem , -2.293577906rem  +  11.4678898427vw , 10.9375rem );
  }
}

@supports not (gap: clamp( 0.0000000625rem , -2.293577906rem  +  11.4678898427vw , 10.9375rem )) {
  .calculation__container {
    gap: calc(0.0000000625rem + 10.9374999375 * (100vw - 20rem) / 95.375);
  }
}

.calculation__content {
  padding-top: 5.625rem;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37%;
          flex: 0 0 37%;
}

.calculation__title {
  margin-bottom: 2.5rem;
}

@supports (font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem )) {
  .calculation__title {
    font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem )) {
  .calculation__title {
    font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 95.375);
  }
}

.calculation__text {
  line-height: 1.5;
}

@supports (font-size: clamp( 1rem , 0.9475753604rem  +  0.2621231979vw , 1.25rem )) {
  .calculation__text {
    font-size: clamp( 1rem , 0.9475753604rem  +  0.2621231979vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9475753604rem  +  0.2621231979vw , 1.25rem )) {
  .calculation__text {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 95.375);
  }
}

.calculation__text span {
  color: #347289;
}

.calculation__block {
  background-color: #fff;
  -webkit-transform: translateY(90px);
      -ms-transform: translateY(90px);
          transform: translateY(90px);
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.65%;
          flex: 0 0 33.65%;
  height: 100%;
}

.calculation__block .specification__form {
  margin-top: 2.5rem;
}

.calculation__block .specification__tel {
  margin-top: 40px;
  padding: 0px 15px;
}

@supports (font-size: clamp( 0.9375rem , 0.8719692005rem  +  0.3276539974vw , 1.25rem )) {
  .calculation__block .specification__tel {
    font-size: clamp( 0.9375rem , 0.8719692005rem  +  0.3276539974vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8719692005rem  +  0.3276539974vw , 1.25rem )) {
  .calculation__block .specification__tel {
    font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 95.375);
  }
}

.calculation__img-ibg {
  padding-bottom: 31%;
  position: absolute;
  width: 19%;
  right: 0;
  bottom: 0;
}

.page__uslugi {
  height: 500px;
  width: 100%;
  background-color: #7e5757;
}

/*=======SERVICES=========*/

@supports (margin-top: clamp( 1.875rem , 0.6954456094rem  +  5.8977719528vw , 7.5rem )) {
  .page__services {
    margin-top: clamp( 1.875rem , 0.6954456094rem  +  5.8977719528vw , 7.5rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 0.6954456094rem  +  5.8977719528vw , 7.5rem )) {
  .page__services {
    margin-top: calc(1.875rem + 5.625 * (100vw - 20rem) / 95.375);
  }
}

.services__title {
  margin-bottom: 2.1875rem;
}

@supports (font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem )) {
  .services__title {
    font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem )) {
  .services__title {
    font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 95.375);
  }
}

.services__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

@supports (gap: clamp( 0.625rem , 0.1007536042rem  +  2.621231979vw , 3.125rem )) {
  .services__items {
    gap: clamp( 0.625rem , 0.1007536042rem  +  2.621231979vw , 3.125rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.1007536042rem  +  2.621231979vw , 3.125rem )) {
  .services__items {
    gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 95.375);
  }
}

.services__img-ibg {
  padding-bottom: 36.7%;
}

.services__text {
  width: 70%;
  margin: 0 auto;
  margin-top: 0.9375rem;
  text-align: center;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.875rem , 0.7701507208rem  +  0.5242463958vw , 1.375rem )) {
  .services__text {
    font-size: clamp( 0.875rem , 0.7701507208rem  +  0.5242463958vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7701507208rem  +  0.5242463958vw , 1.375rem )) {
  .services__text {
    font-size: calc(0.875rem + 0.5 * (100vw - 20rem) / 95.375);
  }
}

/*=====================*/

.page__properties {
  margin-top: 5rem;
  background: #4c4c4c;
}

.properties__container {
  padding-bottom: 3.75rem;
}

.properties__title {
  padding-top: 70px;
  text-align: center;
  color: white;
  margin-bottom: 4.375rem;
}

@supports (font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem )) {
  .properties__title {
    font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem )) {
  .properties__title {
    font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 95.375);
  }
}

.properties__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

@supports (gap: clamp( 1.25rem , -0.8469855832rem  +  10.4849279161vw , 11.25rem )) {
  .properties__content {
    gap: clamp( 1.25rem , -0.8469855832rem  +  10.4849279161vw , 11.25rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.8469855832rem  +  10.4849279161vw , 11.25rem )) {
  .properties__content {
    gap: calc(1.25rem + 10 * (100vw - 20rem) / 95.375);
  }
}

.properties__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.properties__img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.properties__text {
  margin-top: 1.25rem;
  color: white;
  text-align: center;
  line-height: 1.2;
}

@supports (font-size: clamp( 1.125rem , 0.9677260813rem  +  0.7863695937vw , 1.875rem )) {
  .properties__text {
    font-size: clamp( 1.125rem , 0.9677260813rem  +  0.7863695937vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9677260813rem  +  0.7863695937vw , 1.875rem )) {
  .properties__text {
    font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 95.375);
  }
}

/*===================*/

.page__calc-lite {
  margin-top: 3.125rem;
}

.calc-lite__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc-lite__title {
  line-height: 1.5;
  margin-bottom: 2.8125rem;
}

@supports (font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem )) {
  .calc-lite__title {
    font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.3659076016rem  +  0.9829619921vw , 2.5rem )) {
  .calc-lite__title {
    font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 95.375);
  }
}

.calc-lite__text {
  line-height: 1.5;
}

@supports (font-size: clamp( 0.875rem , 0.7963630406rem  +  0.3931847969vw , 1.25rem )) {
  .calc-lite__text {
    font-size: clamp( 0.875rem , 0.7963630406rem  +  0.3931847969vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7963630406rem  +  0.3931847969vw , 1.25rem )) {
  .calc-lite__text {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 95.375);
  }
}

.calc-lite__button {
  height: 67px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin-top: 2.5rem;
}

/*=======================*/

.page__galery {
  margin-top: 2.5rem;
}

.galery__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.galery__img-ibg {
  padding-bottom: 73.75%;
}

/*===========================*/

.page__objects {
  margin-top: 4.0625rem;
}

.objects__items {
  margin-top: 5.625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -5.4307558027rem  +  10.7756298356vw , 7.5rem )) or (column-gap: clamp( 1.25rem , -5.4307558027rem  +  10.7756298356vw , 7.5rem ))) {
  .objects__items {
    -webkit-column-gap: clamp( 1.25rem , -5.4307558027rem  +  10.7756298356vw , 7.5rem );
       -moz-column-gap: clamp( 1.25rem , -5.4307558027rem  +  10.7756298356vw , 7.5rem );
            column-gap: clamp( 1.25rem , -5.4307558027rem  +  10.7756298356vw , 7.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -5.4307558027rem  +  10.7756298356vw , 7.5rem )) or (column-gap: clamp( 1.25rem , -5.4307558027rem  +  10.7756298356vw , 7.5rem ))) {
  .objects__items {
    -webkit-column-gap: calc(1.25rem + 6.25 * (100vw - 61.99875rem) / 58.00125);
       -moz-column-gap: calc(1.25rem + 6.25 * (100vw - 61.99875rem) / 58.00125);
            column-gap: calc(1.25rem + 6.25 * (100vw - 61.99875rem) / 58.00125);
  }
}

.objects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objects__text {
  margin: 10px auto 0px auto;
  text-align: center;
  line-height: 1.5;
}

/*=======================================*/

.page__brands {
  margin-top: 5rem;
}

.brands__textblock {
  margin-bottom: 4.875rem;
}

.brands__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
  grid-template-columns: repeat(8, 1fr);
}

.brands__img-ibg {
  padding-bottom: 73.5%;
}

.brands__button {
  width: 25%;
  height: 65px;
  margin: 2.1875rem auto;
}

@media (min-width: 47.99875em) {
  .top-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 61.99875em) {
  .contacts__tel {
    white-space: nowrap;
  }

  .contacts__text {
    white-space: nowrap;
  }

  .specification__content {
    padding-left: 1.25rem;
  }

  .advantages__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

@supports (gap: clamp( 0.625rem , 0.1007536042rem  +  2.621231979vw , 3.125rem )) {
    .advantages__container {
      gap: clamp( 0.625rem , 0.1007536042rem  +  2.621231979vw , 3.125rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.1007536042rem  +  2.621231979vw , 3.125rem )) {
    .advantages__container {
      gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 95.375);
    }
}

  .services__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 620px) {
  .midlle-header__content {
    display: block;
  }
}

@media (max-width: 61.99875em) {
  .top-header__container {
    font-size: 1rem;
  }

  .midlle-header__content {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }

  .midlle-header__contacts {
    gap: inherit;
  }

  .midlle-header__contacts {
    display: block;
  }

  .contacts__callback {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .contacts__callback:first-child {
    padding-bottom: 0.625rem;
  }

  .specification__container {
    display: block;
  }

  .specification__img-ibg {
    padding-bottom: 43.5%;
  }

  .specification__title {
    margin-top: 1.25rem;
    text-align: center;
  }

  .specification__tel {
    margin-top: 0.9375rem;
  }

  .advantages__item {
    padding: 20px 25px;
  }

  .advantages__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .calculation__block .specification__form input {
    font-size: 1rem;
  }

  .galery__content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .objects__items {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }

  .objects__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .brands__items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 47.99875em) {
  .textblock__title {
    margin-bottom: 1.25rem;
  }

  .header__top {
    height: 6.25rem;
  }

  .top-header__adress {
    margin: 15px 0px;
  }

  .contacts__img {
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    height: 50px;
  }

  .header__menu {
    opacity: 0.98;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 10;
    border-radius: 0 0 10px 10px;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu-open .header__menu {
    left: 0;
  }

  .menu-header__list {
    display: block;
    font-size: 1.625rem;
    padding-top: 3.4375rem;
  }

  .menu-header__item {
    padding: 20px 0px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 11;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    padding-top: 1.5625rem;
    display: block;
  }

  .footer__menu {
    margin-top: 1.875rem;
    display: block;
  }

  .footer__item {
    text-align: center;
    padding: 10px 0px;
  }

  .calculation__container {
    display: block;
  }

  .calculation__block {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    margin-top: 1.875rem;
  }

  .calculation__img-ibg {
    display: none;
  }

  .services__items {
    display: block;
  }

  .services__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .services__text {
    margin-top: 0.625rem;
  }

  .page__properties {
    margin-top: 2.5rem;
  }

  .properties__container {
    padding-bottom: 1.25rem;
  }

  .properties__title {
    margin-bottom: 1.875rem;
    padding-top: 1.875rem;
  }

  .properties__content {
    display: block;
  }

  .properties__item:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .page__calc-lite {
    margin-top: 1.25rem;
  }

  .calc-lite__container {
    display: block;
  }

  .calc-lite__title {
    margin-bottom: 1.25rem;
    word-break: break-all;
  }

  .calc-lite__button {
    margin-top: 1.25rem;
  }

  .galery__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .page__objects {
    margin-top: 1.25rem;
  }

  .objects__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-top: 1.875rem;
  }

  .page__brands {
    margin-top: 3.125rem;
  }

  .brands__textblock {
    margin-bottom: 1.875rem;
  }

  .brands__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 29.99875em) {
  .midlle-header__content {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}